<a href="https://colab.research.google.com/github/AArafatt/machine-learning-basics/blob/main/naive_bayes_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [3]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis ='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [11]:
inputs = df.drop('Survived',axis='columns')
target = df.Survived

In [16]:
dummies = pd.get_dummies(inputs.Sex)
dummies.head(3)

   female  male
0       0     1
1       1     0
2       1     0

In [17]:
inputs = pd.concat([inputs,dummies],axis='columns')
inputs.head(3)

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0

In [19]:
inputs.drop(['Sex','male'],axis='columns',inplace=True)
inputs.head(3)

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1

In [20]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [21]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [22]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pclass   Age     Fare  female
0       3  22.0   7.2500       0
1       1  38.0  71.2833       1
2       3  26.0   7.9250       1
3       1  35.0  53.1000       1
4       3  35.0   8.0500       0

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(inputs,target,test_size=0.3)

In [24]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [25]:
model.fit(x_train,y_train)

GaussianNB()

In [26]:
model.score(x_test,y_test)

0.753731343283582

In [27]:
x_test[0:10]

     Pclass        Age      Fare  female
207       3  26.000000   18.7875       0
803       3   0.420000    8.5167       0
365       3  30.000000    7.2500       0
530       2   2.000000   26.0000       1
776       3  29.699118    7.7500       0
737       1  35.000000  512.3292       0
12        3  20.000000    8.0500       0
634       3   9.000000   27.9000       1
512       1  36.000000   26.2875       0
241       3  29.699118   15.5000       1

In [28]:
y_test[0:10]

207    1
803    1
365    0
530    1
776    0
737    1
12     0
634    0
512    1
241    1
Name: Survived, dtype: int64

In [29]:
model.predict(x_test[0:10])

array([0, 0, 0, 1, 0, 1, 0, 1, 0, 1])

In [30]:
model.predict_proba(x_test[0:10])

array([[9.64873612e-01, 3.51263884e-02],
       [9.32752353e-01, 6.72476466e-02],
       [9.65934596e-01, 3.40654035e-02],
       [1.26344493e-01, 8.73655507e-01],
       [9.65946438e-01, 3.40535619e-02],
       [4.34126250e-47, 1.00000000e+00],
       [9.61381106e-01, 3.86188945e-02],
       [2.78718999e-01, 7.21281001e-01],
       [7.92453567e-01, 2.07546433e-01],
       [3.87658679e-01, 6.12341321e-01]])

In [31]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),x_train,y_train, cv=5)

array([0.736    , 0.848    , 0.776    , 0.7983871, 0.75     ])