<a href="https://colab.research.google.com/github/AArafatt/machine-learning-basics/blob/main/pandasHandleMissingValue.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('weather1.csv')
df

        day temperature windspeed     event
0  1/1/2017        32 F     6 mph      Rain
1  1/2/2017      -99999     7 mph     Sunny
2  1/3/2017          28    -99999      Snow
3  1/4/2017      -99999         7  No Event
4  1/5/2017        32 C    -99999      Rain
5  1/6/2017          31         2     Sunny
6  1/7/2017          34         5  No Event

In [ ]:
new_df = df.replace({
    'temperature': -99999,
    'windspeed': -99999,
    'event':'0'
},np.NaN)
new_df

        day temperature windspeed     event
0  1/1/2017        32 F     6 mph      Rain
1  1/2/2017      -99999     7 mph     Sunny
2  1/3/2017          28    -99999      Snow
3  1/4/2017      -99999         7  No Event
4  1/5/2017        32 C    -99999      Rain
5  1/6/2017          31         2     Sunny
6  1/7/2017          34         5  No Event

In [ ]:
new_df = df.replace({
    -99999: np.NaN,
    'No Event': 'Sunny'
})
new_df

        day temperature windspeed  event
0  1/1/2017        32 F     6 mph   Rain
1  1/2/2017      -99999     7 mph  Sunny
2  1/3/2017          28    -99999   Snow
3  1/4/2017      -99999         7  Sunny
4  1/5/2017        32 C    -99999   Rain
5  1/6/2017          31         2  Sunny
6  1/7/2017          34         5  Sunny

In [ ]:
df = pd.DataFrame({
    'score': ['exceptional','average','good','poor','average','exceptional'],
    'student': ['rob','maya','parthiv','tom','julian','erica']
})
df

         score  student
0  exceptional      rob
1      average     maya
2         good  parthiv
3         poor      tom
4      average   julian
5  exceptional    erica

In [ ]:
new_df = df.replace(['poor','average','good','exceptional'],[1,2,3,4])
new_df

   score  student
0      4      rob
1      2     maya
2      3  parthiv
3      1      tom
4      2   julian
5      4    erica